<div class="container">
    <br>
    <h3>Plan Name:@ViewBag.PlanType </h3>
    <h3>Person Count: @ViewBag.countPerson </h3>
    <h3>Plan Price:  @ViewBag.price</h3>
    <h3>Plan Content: @ViewBag.content</h3>
    <h3>Plan Resolution: @ViewBag.resolution</h3>
</div>