<div class="container">
<div class="row gutters">
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
		<div class="pricing-plan">
			<div class="pricing-header">
				<h4 class="pricing-title">Basic Plan</h4>
				
			</div>
			
			<div class="pricing-footer">
				<a href="/Default/BasicPlanIndex" class="btn btn-primary btn-lg">Select Plan</a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
		<div class="pricing-plan">
			<div class="pricing-header red">
				<h4 class="pricing-title">Standart Plan</h4>
			</div>
			<div class="pricing-footer">
				<a href="/Default/StandartPlanIndex" class="btn btn-danger btn-lg">Select Plan</a>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
		<div class="pricing-plan">
			<div class="pricing-header secondary">
				<h4 class="pricing-title">Ultra Plan</h4>
				
			</div>
			
			<div class="pricing-footer">
				<a href="/Default/UltraPlanIndex" class="btn btn-success btn-lg">Select Plan</a>
			</div>
		</div>
	</div>
</div>
</div>